
    
    body{
        background-image: url(https://t4.ftcdn.net/jpg/03/29/57/63/240_F_329576340_zBRuVjvHWe9zgh2b2C5fwQNITE8oGsv5.jpg);
        background-repeat: no-repeat;
        background-size: 1000px 1000px;
        width: 2000px;
        height: 500px;

    }
    h1 {
        Color: white;
    }
    h2 {
        Color: white;
    }

